<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Aims and Scope</h2>
                <hr class="light">
                <p>Our aim with this invited workshop is to bring together a diverse and interdisciplinary group of internationally renowned scientists along with junior participants. This workshop will specifically focus on the contribution from data science to developing and testing responsible, trustworthy and ethical AI for mental health application as this is a fast emerging industry and its success demand a close interdisciplinary collaboration and academic discussion. Our group of co-organizers are therefore from a broad field representing machine learning, epidemiology, law, and ethics. Invited talks will provide state of the art knowledge of the field and in critical discussions across disciplinary boundaries we aim to make substantial progress towards medical machine learning systems that are trustworthy, equitable, and beneficial for society at large. While the workshop is primarily a physical event, a live-stream of the lectures will be made available for free.</p>
            </div>
        </div>
    </div>
</section>

<section id="registration">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Register Here</h2>
                <hr class="primary">
                <p> You can register for the event <a href="https://eventsignup.ku.dk/trustmindaiinmentalhealthworkshopoctober5th-6th2026">here</a>.</p>
            </div>
        </div>
    </div>
</section>

<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Workshop schedule</h2>
                <hr class="primary">
                <p>The 2-day workshop will include: </p>
                <p>Scientific talks – We will have a series of scientific talks from national and international experts in the field. A list of confirmed speakers is available below. Talk titles will be added soon. </p>
                <p> Poster session – There will be an opportunity for junior researchers to present and discuss their work with the workshop participants. </p>
               
            </div>
        </div>
    </div>
</section>

<section id="speakers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Confirmed Speakers</h2>
                <hr class="primary">
                <p>Michael Benros  (Copenhagen University Hospital, DK)</p>
                <p>Line Clemmensen (University of Copenhagen, DK)</p>
                <p>Helen Coupland (University of Copenhagen, DK)</p>
                <p>Munmun De Choudhury (Georgia Institute of Technology, USA)</p>
                <p>Søren Dinesen Østergaard (Aarhus University, DK)</p>
                <p>Stella Grasshoff (IT University of Copenhagen, DK)</p>
                <p>Sara Kolding (Aarhus University, DK)</p>
                <p>Paris Lalousis (King's College London, UK)</p>
                <p>Jessica Schrouff (University College London, UK)</p>
                <p>Marc-André Schulz (Hertie Institute for AI in Brain Health, Berlin, Germany)</p>
                <p>Didem Stark (University of Tübingen, Germany)</p>
                <p>Benjamin Alexander Thorup Arnfred (Bispebjerg and Frederiksberg Hospital, DK)</p>
                <p>Alissa Valentine (University of Copenhagen, DK)</p>
            </div>
        </div>
    </div>
</section>

<section id="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Location</h2>
                <hr class="primary">
                <p> The location of the event is the Festalen at GEUS, University of Copenhagen in Copenhagen. The venue is located in the heart of Copenhagen and is easily accessible by public transportation. The address is: Øster Voldgade 10, 1350 Copenhagen, Denmark</p>
            </div>
        </div>
    </div>
</section>

<section id="organizers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Organizers</h2>
                <hr class="primary">
                <p><a href="http://www2.compute.dtu.dk/~afhar/">Aasa Feragen</a></p>
                <p><a href="https://sites.google.com/view/melanieganz/home">Melanie Ganz</a></p>
                <p><a href="https://research.ku.dk/search/result/?pure=en%2Fpersons%2F86988">Sune Hannibal Holm</a></p>
                <p><a href="https://www.bispebjerghospital.dk/presse-og-nyt/nyheder/nyhedsarkiv/nyheder/Sider/Pion%C3%A9r-inden-for-epidemiologisk-forskning.aspx">Merete Osler</a></p>
                <p><a href="https://www.humanrights.dk/staff/katharina-o-cathaoir">Katharina O Cathaoir</a></p>
                <p><a href="https://www.linkedin.com/in/alice-schiavone-ai/">Alice Schiavone</a></p>
                <p><a href="https://scholar.google.com/citations?user=TuLDeIoAAAAJ&hl=en">Alissa Valentine</a></p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>For any inquiries regarding the workshop, please contact <a href="mailto:ganz@di.ku.dk">Melanie Ganz</a>.</p>
            </div>
        </div>
    </div>
</section>


<section id="funding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Funding</h2>
                <hr class="primary">
                <p>The workshop is generously funded by the <a href="https://ddsa.dk/">Danish Data Science Academy (DDSA)</a> and the <a href="https://lundbeckfonden.com/">Lundbeck foundation</a> via the <a href="https://trustmindproject.github.io/">TRUSTMIND project</a>.</p>
            </div>
        </div>
    </div>
</section>
