<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Aims and Scope</h2>
                <hr class="light">
                <p>Our aim with this invited workshop is to bring together a diverse and interdisciplinary group of internationally renowned scientists along with junior participants. This workshop will specifically focus on the contribution from data science to developing and testing responsible, trustworthy and ethical AI for mental health application as this is a fast emerging industry and its success demand a close interdisciplinary collaboration and academic discussion. Our group of co-organizers are therefore from a broad field representing machine learning, epidemiology, law, and ethics. Invited talks will provide state of the art knowledge of the field and in critical discussions across disciplinary boundaries we aim to make substantial progress towards medical machine learning systems that are trustworthy, equitable, and beneficial for society at large. While the workshop is primarily a physical event, a live-stream of the lectures will be made available for free.</p>
            </div>
        </div>
    </div>
</section>

<section id="registration">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Register Here</h2>
                <hr class="primary">
                <p> You can register for the event <a href="https://eventsignup.ku.dk/trustmindaiinmentalhealthworkshopoctober5th-6th2026">here</a>.</p>
            </div>
        </div>
    </div>
</section>

<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Workshop schedule</h2>
                <hr class="primary">

                <h3>Day 1</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: left;">Time</th>
                            <th style="text-align: left;">Program</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td style="font-style: italic;">08:30-09:00</td><td style="text-align: left; font-style: italic;">Arrival, coffee</td></tr>
                        <tr><td style="white-space: nowrap;">09:00-09:10</td><td style="text-align: left;">Welcome</td></tr>
                        <tr><td style="font-weight: bold;">Session 1</td><td style="text-align: left; font-weight: bold;">Generative AI and Mental Health Care</td></tr>
                        <tr><td style="white-space: nowrap;">09:10-09:55</td><td style="text-align: left;">Charlotte Blease – Psychotherapy and Generative AI</td></tr>
                        <tr><td style="white-space: nowrap;">09:55-10:40</td><td style="text-align: left;">Munmun de Choudhury – What Mental Health Teaches Us About Responsible Generative AI</td></tr>
                        <tr><td style="font-style: italic;">10:40-11:00</td><td style="text-align: left; font-style: italic;">Coffee break</td></tr>
                        <tr><td style="white-space: nowrap;">11:00-11:45</td><td style="text-align: left;">Søren Dinesen – Generative Intelligence Chatbots</td></tr>
                        <tr><td style="font-weight: bold;">Session 2</td><td style="text-align: left; font-weight: bold;">Clinical Translation and Real-World Implementation</td></tr>
                        <tr><td style="white-space: nowrap;">11:45-12:30</td><td style="text-align: left;">Benjamin A. T. Arnfred – Hype to Healthcare</td></tr>
                        <tr><td style="font-style: italic;">12:30-14:00</td><td style="text-align: left; font-style: italic;">Lunch</td></tr>
                        <tr><td style="white-space: nowrap;">14:00-14:45</td><td style="text-align: left;">Paris Alexandros Lalousis – Why Mental Health Needs AI; and Why Accuracy is not Enough</td></tr>
                        <tr><td style="white-space: nowrap;">14:45-15:30</td><td style="text-align: left;">Line Clemmensen – Data Representativity and Modeling</td></tr>
                        <tr><td style="font-style: italic;">15:30-16:00</td><td style="text-align: left; font-style: italic;">Coffee break</td></tr>
                        <tr><td style="font-weight: bold;">Session 3</td><td style="text-align: left; font-weight: bold;">Measuring Mental Health</td></tr>
                        <tr><td style="white-space: nowrap;">16:00-16:45</td><td style="text-align: left;">Stella Grasshof – Facial Expression Analysis in Mental Health Applications</td></tr>
                        <tr><td style="white-space: nowrap;">16:45-17:30</td><td style="text-align: left;">Helen Louise Coupland – Gender Differences in MDD Diagnosis</td></tr>
                        <tr><td style="font-style: italic;">18:30-21:00</td><td style="text-align: left; font-style: italic;">Dinner (only invited speakers and organizers)</td></tr>
                    </tbody>
                </table>

                <h3>Day 2</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: left;">Time</th>
                            <th style="text-align: left;">Program</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td style="font-style: italic;">08:30-09:00</td><td style="text-align: left; font-style: italic;">Arrival, coffee</td></tr>
                        <tr><td style="font-weight: bold;">Session 4</td><td style="text-align: left; font-weight: bold;">Fairness in Mental Health prediction</td></tr>
                        <tr><td style="white-space: nowrap;">09:00-09:45</td><td style="text-align: left;">Sara Kolding – Examining Fairness Across Mental Health Prediction Models</td></tr>
                        <tr><td style="white-space: nowrap;">09:45-10:30</td><td style="text-align: left;">Alissa Valentine – Nationwide AI Models for Depression Prediction</td></tr>
                        <tr><td style="font-style: italic;">10:30-11:00</td><td style="text-align: left; font-style: italic;">Coffee break</td></tr>
                        <tr><td style="white-space: nowrap;">11:00-11:45</td><td style="text-align: left;">Didem Stark – Hidden Heterogeneity, Hidden Inequity</td></tr>
                        <tr><td style="font-weight: bold;">Session 5</td><td style="text-align: left; font-weight: bold;">Building Trustworthy Healthcare AI</td></tr>
                        <tr><td style="white-space: nowrap;">11:45-12:30</td><td style="text-align: left;">Jessica Schrouff – Building Fair and Robust AI for Healthcare</td></tr>
                        <tr><td style="font-style: italic;">12:30-14:00</td><td style="text-align: left; font-style: italic;">Lunch</td></tr>
                        <tr><td style="white-space: nowrap;">14:00-14:45</td><td style="text-align: left;">Marc André Schulz – Training-data Attribution Measures</td></tr>
                        <tr><td style="white-space: nowrap;">14:45-15:30</td><td style="text-align: left;">Michael Benros - Development and application of predictive models for psychiatry utilizing Danish Big Data resources</td></tr>
                        <tr><td style="font-style: italic;">15:30-16:45</td><td style="text-align: left; font-style: italic;">Coffee break with Poster session</td></tr>
                        <tr><td style="white-space: nowrap;">16:45-17:00</td><td style="text-align: left;">Closing remarks</td></tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>

<section id="speakers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Confirmed Speakers</h2>
                <hr class="primary">
                <p>Michael Benros  (Copenhagen University Hospital, DK)</p>
                <p>Line Clemmensen (University of Copenhagen, DK)</p>
                <p>Helen Coupland (University of Copenhagen, DK)</p>
                <p>Munmun De Choudhury (Georgia Institute of Technology, USA)</p>
                <p>Søren Dinesen Østergaard (Aarhus University, DK)</p>
                <p>Stella Grasshof (IT University of Copenhagen, DK)</p>
                <p>Sara Kolding (Aarhus University, DK)</p>
                <p>Paris Lalousis (King's College London, UK)</p>
                <p>Jessica Schrouff (GlaxoSmithKline (GSK), UK)</p>
                <p>Marc-André Schulz (Hertie Institute for AI in Brain Health, Berlin, Germany)</p>
                <p>Didem Stark (University of Tübingen, Germany)</p>
                <p>Benjamin Alexander Thorup Arnfred (Bispebjerg and Frederiksberg Hospital, DK)</p>
                <p>Alissa Valentine (University of Copenhagen, DK)</p>
            </div>
        </div>
    </div>
</section>

<section id="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Location</h2>
                <hr class="primary">
                <p> The location of the event is the Festalen at GEUS, University of Copenhagen in Copenhagen. The venue is located in the heart of Copenhagen and is easily accessible by public transportation. The address is: Øster Voldgade 10, 1350 Copenhagen, Denmark</p>
            </div>
        </div>
    </div>
</section>

<section id="organizers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Organizers</h2>
                <hr class="primary">
                <p><a href="http://www2.compute.dtu.dk/~afhar/">Aasa Feragen</a></p>
                <p><a href="https://sites.google.com/view/melanieganz/home">Melanie Ganz</a></p>
                <p><a href="https://research.ku.dk/search/result/?pure=en%2Fpersons%2F86988">Sune Hannibal Holm</a></p>
                <p><a href="https://www.bispebjerghospital.dk/presse-og-nyt/nyheder/nyhedsarkiv/nyheder/Sider/Pion%C3%A9r-inden-for-epidemiologisk-forskning.aspx">Merete Osler</a></p>
                <p><a href="https://www.humanrights.dk/staff/katharina-o-cathaoir">Katharina O Cathaoir</a></p>
                <p><a href="https://www.linkedin.com/in/alice-schiavone-ai/">Alice Schiavone</a></p>
                <p><a href="https://scholar.google.com/citations?user=TuLDeIoAAAAJ&hl=en">Alissa Valentine</a></p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>For any inquiries regarding the workshop, please contact <a href="mailto:ganz@di.ku.dk">Melanie Ganz</a>.</p>
            </div>
        </div>
    </div>
</section>


<section id="funding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Funding</h2>
                <hr class="primary">
                <p>The workshop is generously funded by the <a href="https://ddsa.dk/">Danish Data Science Academy (DDSA)</a> and the <a href="https://lundbeckfonden.com/">Lundbeck foundation</a> via the <a href="https://trustmindproject.github.io/">TRUSTMIND project</a>.</p>
            </div>
        </div>
    </div>
</section>
